
/* this is main code*/
#main {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  margin: auto;
  border: 10px solid lightgrey;
  border-radius: 5px;

}

/* this is for section*/
section{
  width: 100%;
}


/*Heading part*/
#head{
  height: 100px;
  background-color: lightgrey;

}

#head h1{
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bolder;

}

/* Display part where we are showing our result*/

#display-container{
  height: 100px;
  background-color: rgb(241, 238, 238);
  border-bottom: 10px solid lightgrey;
  font-size: 2.8rem;
  color: blue
}

#display{
  text-align: end;
}



/* All buttons are here*/

#content{
  display: flex;
  flex-wrap: wrap;
  height: 300px
}

.button{
  width: 25%;
  height: 20%;
  display: inline-block;
  border: 1px solid rgb(175, 167, 167);
  font-size: 1.3rem;
  font-weight: bolder;
}

.char{
  background-color: rgb(226, 26, 26);
  color: white;
}

button:not(.char):hover {
 background-color: rgb(51, 48, 48);
 color: white;
}